<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <header>
        sdlfkjasl;fhas;lkdfh;salf
    </header>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nostrum excepturi, possimus deserunt fuga magni eveniet ut error tempore quis, alias aliquam corrupti culpa vitae molestias aliquid quasi porro! Vitae voluptatum architecto officiis facere ea molestiae commodi quod laborum a. Optio iure omnis tempora quod quidem, quis veritatis aperiam adipisci.</p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sed aliquam blanditiis dignissimos, quasi explicabo sapiente earum neque eveniet odit fugiat laborum consequuntur asperiores iste magni commodi tenetur veniam architecto voluptate, reiciendis voluptates ea corrupti incidunt. Veritatis labore consequatur, dicta nostrum nisi, iure at quasi unde dolorum id nobis nemo.</p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio harum nobis ullam dolores, laboriosam perspiciatis illum, inventore cupiditate officiis alias, dolore rem atque quia omnis quibusdam culpa adipisci. Saepe laudantium necessitatibus exercitationem nemo voluptatibus nisi porro. Facere, illum. Reprehenderit, sunt nam distinctio perspiciatis dolorum aspernatur dignissimos neque autem eos modi?</p>
    </section>   
    <footer>
        s;alghpoaihgpoisahgals;ldhg;slkassdlfkj
    </footer>
</body>
</html>