*,
before,
after{
    box-sizing: border-box;
}

body{
    width: 1000px;
    margin: 20px auto;
}

header, footer{
    width: 100%;
    text-align: center;
    margin: 30px auto;
    border: 5px solid red;
}

section{
    float: left;
    border: 3px solid green;
    width: 33.333333%;
    height: 300px;
    margin-bottom: 30px;
}

footer{
    clear: both;
}