<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FLIP THE FUCKING COIN!!!!!!!!!!!</h1>
    <form action="/flips" method="POST">
        <button id="fiftyFifty"><img src="https://www.usmint.gov/wordpress/wp-content/uploads/2022/12/2023-kennedy-half-dollar-uncirculated-obverse-denver-300x300.jpg" alt="">
        </button>
    </form>
  
    <button id="clear">Clear flips</button>
    

    <h2>Result!!!</h2>
    <ul class="flips">
        <% for (let i = 0; i < Flips.length; i++) {%>
            <li class="flip">
                <span><%= Flips[i].side %></span>
            </li>
        <% } %>
    </ul>
 
    
    <script src="/main.js"></script>
</body>
</html>