h1{
    color: blue;
    text-decoration: 1px;
    background-color: gold;
}
h2{
    color: purple;
    font-weight: 700;
    font-size: 25px;
    border: 1px solid orange;
}
section{
    width: 50%;
    height: 200px;
    background-color: gray;
    border: 10px solid black;
}
section p{
    color: white;
    text-indent: 10%;
}
footer{
    background-color: black;
    border: 2px solid lightgreen;
}
footer h3{
    color: white;
    font-size: 20px;
    font-family: 'Roboto', Helvetica, sans-serif;
}